production: true
services:
  backend:
    image:
      repository: postgrest/postgrest
      tag: v14.5
    port: 3000
    secrets:
      - config
    dependencies: [pg]

  frontend:
    image:
      repository: ghcr.io/ludat/fulbo/frontend
      source:
        type: digest
        tag: main
    secrets:
      - config
    routes:
      - host: fulbo.ludat.io

hooks:
  pre-deploy:
    - name: migrations
      secrets:
        - config
      image:
        repository: ghcr.io/ludat/fulbo/migrations
        source:
          type: digest
          tag: main
      dependencies: [pg]
      command:
        - sh
        - -c
        - |
            /tern migrate


dependencies:
  pg:
    type: postgres
